/*We import some fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a; /*Makes a shadow effect*/
    display: flex; /*we would expect it to show in the top right corner.*/
    justify-content: space-between; /*Let's also add some space-between them with justify-content.*/
    align-items: baseline;/*Finally, let's just make sure they all show in a line vertically.*/
}

header a {
    text-decoration: none;
    color: inherit;
}

/*Main Content*/
main {
    flex: 1 0 auto;
    margin-top: 47px;
}
/*hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover; /*We also want it to be centred both horizontally and vertically,
    so we need to type centre twice.*/
    position: relative;
}

#circle-cover-bg {
    height: 90vw;
    width: 90vw;
    background: url("../images/reasons-image.webp") no-repeat top center/cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    /*Final rgba value sets the opacity so it is semi-transparent*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none; /*Remove bullets points from list*/
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute; /*Absolute positioning takes an element outside the normal
    flow of the page structure.*/
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    padding: 0 1rem;
    display:none /*bar items are hidden until the user clicks to open them.*/  
}

/*Nav toggle*/
#nav-toggle:checked~nav { /*Using an id and a psudo class we can select the nav element when we check the box*/
    display: block; /*I'll show the content*/
    top: 100%; /*100% represents the bottom of the parent element.*/
}

#nav-toggle {
    display: none; /*Hide checkbox*/
}

#times {
    background: url("../images/dublin-city.webp") no-repeat center/cover;
   display: flex;
   flex-wrap: wrap;
}

#times div {
    color: #ffffff;
    background-color: rgba(0,0,0,.6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
    
}

#times h3 {
    color: #ffffff;
}

.nav-toggle-label {
    font-size: 2rem;
}

#reasons {
    width: 90%;
    margin: auto 20px;
}

#reasons  h2 {
    font-size:200%;
    margin-bottom: 20px;
    text-align: center;
    
}

#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/*Media query: tablets and larger(768px and up)*/
@media screen and (min-width:768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
        
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display:none;
    }
    #logo {
        font-size: 120%;
        line-height: 75px;
        margin:0 0.5rem;
    }
    main {
        margin-top: 79px;
    }
    #cover-text {
        width: 300px;
        right: 50px;
    }
    #benefits-physical, 
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefits-physical > div, 
    #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }
}
/*Large devices*/
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        
    }
    
}

@media screen and (min-width:1200px) {
    #benefits {
        display: flex;
        flex-direction: row;
    }
    #benefits > div {
        flex: 1;
    }
    #benefits-image {
        order: 0;
    }
    #benefits-mental {
        order: 1;
    }
    #benefits-mental > div {
        align-self: flex-start;
    }
    #benefits-physical > div{
        align-self: flex-end;
    }
}