/*We import some fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a; /*Makes a shadow effect*/
    display: flex; /*we would expect it to show in the top right corner.*/
    justify-content: space-between; /*Let's also add some space-between them with justify-content.*/
    align-items: baseline;/*Finally, let's just make sure they all show in a line vertically.*/
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Main Content*/
main {
    background-color: lightblue;
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none; /*Remove bullets points from list*/
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute; /*Absolute positioning takes an element outside the normal
    flow of the page structure.*/
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    padding: 0 1rem;
    display:none /*bar items are hidden until the user clicks to open them.*/  
}

/*Nav toggle*/
#nav-toggle:checked~nav { /*Using an id and a psudo class we can select the nav element when we check the box*/
    display: block; /*I'll show the content*/
    top: 100%; /*100% represents the bottom of the parent element.*/
}

#nav-toggle {
    display: none; /*Hide checkbox*/
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Media query: tablets and larger(768px and up)*/
@media screen and (min-width:768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
        
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display:none;
    }
    #logo {
        font-size: 120%;
        line-height: 75px;
        margin:0 0.5rem;
    }
    main {
        margin-top: 79px;
    }
}
/*Large devices*/
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        
    }
    
}